.DS_Store
dataset/cubert/*/original/*train*
dataset/cubert/*/original/*dev*
dataset/cubert/*/original/*eval*

dataset/cubert/*/generated/*train*
dataset/cubert/*/generated/*dev*
dataset/cubert/*/generated/*eval*

POS\ Code/Experiments/*.sav
POS\ Code/Experiments/*.json
NeuroX_Code/
NeuroX_env/

py150_files.tar.gz
py150_files
*slurm*

*.ipynb*
*.json

py150_files.tar.gz
py150_files
